<div class="Navbar" style="display: flex">
  <div class="Navbar__Link Navbar__Link-brand" style="padding: 10px">
    <strong>Book Store </strong>
  </div>
  <div class="Authors" style="padding: 10px">
    <%= link_to "Authors", authors_path %>
  </div>
  
  <div class="Books" style="padding: 10px">
    <%= link_to "Books", books_path %>
  </div>

  <div class="Suppliers" style="padding: 10px">
    <%= link_to "Suppliers", suppliers_path %>
  </div>

  <div class="Accounts" style="padding: 10px">
    <%= link_to "Accounts", accounts_path %>
  </div>
  
  <div class="Parts" style="padding: 10px">
    <%= link_to "Parts", parts_path %>
  </div>
  
  <div class="Assemblies" style="padding: 10px">
    <%= link_to "Assemblies", assemblies_path %>
  </div>

  <div class="Navbar__Link" style="padding: 10px">-- Link --</div>  
</div>